body {
  margin: 0;
  padding: 0;
  padding-top: 200px;
}

.content {
  text-align: center;
  justify-content: center;
}

.display {
  text-align: center;
  justify-content: center;
}

.header {
  justify-content: center;
  text-align: center;
}
